<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Wizarding World</title>
  <body class="flex items-center justify-center min-h-screen bg-[#FADADD] ${barlow.className}">
    <slot />
  </body>
</html>
